language: python
sudo: false
python:
    - "2.7"
install: 
    - pip install -r requirements.txt
    - npm install -g grunt-cli bower
script:
    - python manage.py migrate --fake-initial
    - python manage.py compile_frontend
