# regulations-core
anyjson==0.3.3
django==1.8.7
django-haystack==2.4.1
jsonschema==2.5.1
-e git+https://github.com/18F/regulations-core.git#egg=regcore

# regulations-site
# django already covered
lxml==3.5.0
requests==2.8.1
-e git+https://github.com/18F/regulations-site.git#egg=regulations

# atf-specific/cloud.gov
dj-database-url==0.3.0
django-overextends==0.4.0
pyelasticsearch==1.4
psycopg2==2.6.1
waitress==0.8.10
whitenoise==2.0.6
