# only tested with Python 3.6.1--recommend using that version until
# further notice.

amqp==2.2.2
anyjson==0.3.3
appnope==0.1.0
asn1crypto==0.24.0
attrs==17.4.0
bandit==1.4.0
billiard==3.5.0.3
boto3==1.5.13
botocore==1.8.50
cached-property==1.3.1
celery==4.1.0
certifi==2018.1.18
cfenv==0.5.3
cffi==1.11.5
chardet==3.0.4
click==6.7
coloredlogs==9.0
cryptography==2.2.2
decorator==4.2.1
dj-database-url==0.4.2
Django==1.11.11
django-click==2.0.0
django-debug-toolbar==1.9.1
django-haystack==2.4.1
django-js-asset==1.0.0
django-mptt==0.8.7
django-overextends==0.4.3
django-rq==1.0.1
djangorestframework==3.7.7
docutils==0.14
elasticsearch==1.9.0
enum34==1.1.6
#-e git+git@github.com:fecgov/fec-eregs.git@ca141fd5e431805df1a70ac76d91bd9a5ac4b9#76#egg=fec_regparser&subdirectory=eregs_extensions
furl==1.0.1
futures==3.1.1
gevent==1.2.2
gitdb2==2.0.3
GitPython==2.1.8
greenlet==0.4.13
gunicorn==19.7.1
humanfriendly==4.9
idna==2.6
inflection==0.3.1
invoke==0.22.0
ipdb==0.10.3
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
jmespath==0.9.3
json-delta==2.0
jsonschema==2.5.1
kombu==4.1.0
lxml==4.2.1
marshmallow==2.19.2
networkx==2.1
newrelic==2.100.0.84
orderedmultidict==0.7.11
parso==0.1.1
pbr==4.0.0
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
pycparser==2.18
pyelasticsearch==1.4
Pygments==2.2.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
python-constraint==1.3.1
python-dateutil==2.7.2
pytz==2018.3
PyYAML==3.12
redis==2.10.6
-e git+https://github.com/18F/regulations-core.git@d5443336b0ec287e62837614bf1e359465cc30fe#egg=regcore
-e git+https://github.com/18F/regulations-parser.git@e757cb74aea1b4c7c29293c749561510d4adba1e#egg=regparser
regulations==8.4.2
requests==2.21.0
requests-cache==0.4.13
requests-toolbelt==0.8.0
roman==2.0.0
rq==0.10.0
s3transfer==0.1.13
simplegeneric==0.8.1
simplejson==3.13.2
six==1.11.0
smmap2==2.0.3
sqlparse==0.2.4
stevedore==1.28.0
traitlets==4.3.2
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
webargs==5.4.0
whitenoise==3.3.1
