django-debug-toolbar==1.9.1

# regulations-parser (for loading regs)
requests[security]
ipdb==0.10.3
ipython>=6.0,<7.0

# regparser
-e git+https://github.com/fecgov/regulations-parser.git@master#egg=regparser

# regsite
-e git+git://github.com/fecgov/regulations-site@master#egg=regulations

# regcore
-e git+git://github.com/fecgov/regulations-core@master#egg=regcore



