# regulations-core
django>=1.11,<1.12
cached_property==1.3.1
django-mptt~=0.8.6
anyjson==0.3.3
jsonschema==2.5.1
six==1.11.0
webargs==5.4.0
pyelasticsearch==1.4
django-haystack==2.4.1
psycopg2==2.7.3.2
regcore==4.2.0

# regulations-site
# django, cached-property, six already covered
enum34==1.1.6
futures==3.1.1
requests==2.21.0
boto3==1.5.13
celery==4.1.0
requests-toolbelt==0.8.0
regulations==8.4.2

# fec-specific/cloud.gov
cfenv==0.5.3
dj-database-url==0.4.2
django-overextends==0.4.3
gunicorn==19.7.1
whitenoise==3.3.1
invoke==0.22.0
GitPython==2.1.8
gevent==1.2.2

-e eregs_extensions/
