{% overextends "regulations/chrome.html" %}
{% load static from staticfiles %}

{% block sidebar-drawer-icons %}
<a href="#" id="panel-link" class="toc-toggle panel-slide">
  <img id="open-active" src="{%static "regulations/img/open-caret.svg" %}" class="drawer-toggle-icon" alt="Open navigation drawer" />
  <img id="open" src="{%static "regulations/img/open-caret-blue.svg" %}" class="drawer-toggle-icon" alt="Open navigation drawer" />
  <img id="close" src="{%static "regulations/img/close-caret-blue.svg" %}" class="drawer-toggle-icon" alt="Close navigation drawer"/>
  <img id="close-active" src="{%static "regulations/img/close-caret.svg" %}" class="drawer-toggle-icon" alt="Close navigation drawer"/>
</a>
{% endblock %}

{% block sidebar-toc-link %}
{% endblock %}

{% block sidebar-history-link %}
{% endblock %}

{% block sidebar-search-link %}
{% endblock %}

{% block header-secondary %}
{% endblock %}

{% block drawer-search %}
{% endblock %}
