<footer class="slab slab--neutral footer-disclaimer">
        <div class="usa-width-one-fourth">&nbsp</div>
        <div class="usa-width-one-half">
        <p>This site is in beta, which means we're testing content that better adheres to legal plain language requirements. This content is not finalized, is not legal advice and is subject to change.</p>
        <p>Everything on this site should be read in conjunction with FEC.gov.
          Please let us know what you think of our new content; use the feedback tool on the
          <a href="https://beta.fec.gov/legal-resources/">Legal Resources landing page</a>.
        </p>
      </div>
      <div class="usa-width-one-fourth">&nbsp</div>
</footer>
