{% overextends "regulations/generic_universal.html" %}
{% load staticfiles %}

{% block body %}
<header id="site-header" class="reg-header">
    {% include "regulations/main-header.html" %}
</header>

<div class="landing-content">
  {% block hero %} {% endblock %}
<div class="usa-width-one-fourth search-panel">
  <div id="search" class="search-drawer toc-container hidden">
    <form action="/data/legal/regulations/" method="GET" role="search">
        <div class="search-box">
            <div class="search-header">Search regulations</div>
            <label for="search-input">Terms</label>
            <input type="text" name="search" id="search-input" title="Search term"/>
            <button type="submit"><img src="{% static "fec_eregs/img/i-search--primary.svg" %}"/>
              <strong class="icon-text">Search</strong></button>
            <input type="hidden" name="search_type" id="version-hidden" title="Search Type" value="regulations"/>
        </div><!--/.search-box-->
    </form>
</div>
</div>
<div class="usa-width-three-fourths" role="main">
  <div class="inner-wrap">

    <div class="group">
      <div class="content-primary column-l bump">
        {% block regulations-title %}
            <div class="regulations-title">
            <h2>Regulations</h2>
            <h2 class="small-header">
                {% block cfr_title %}Title {{cfr_titleno_arabic}} {{cfr_title_text}}{% endblock %}
            </h2>
          </div>
        {% endblock %}

        {% block reg-list %}
        {{ block.super }}
        {% endblock %}

        {% block moreregulations %}
        {% endblock %}
      </div> <!-- /.primary -->

        {% block secondcolumn_notices %}
        {% endblock %}
    </div> <!-- /.group -->

      <section class="about bump group">
        <h2 class="light-header">About eRegulations</h2>
        <div class="content-primary column-l">

          <p>eRegulations is a web-based tool that makes regulations easier
          to find, read and understand with features such as inline
          official interpretations, highlighted defined terms, and a
          revision comparison view.</p>

          <p><a href="{% url 'about' %}" class="go">Learn more about eRegulations&#8217; features</a></p>
        </div> <!-- /.primart -->

        {% block orgcontact %}
        {% endblock %}

        {% block legal %}
        {% endblock %}
      </section> <!-- /.about -->
  </div> <!-- /.inner-wrap -->
</div> <!-- /.landing-main -->

</div> <!-- /.landing-content -->

{% include "regulations/full_footer.html" %}

{% block endscripts %}
{% endblock %}

{% endblock %}
