{% load static from staticfiles %}
<div class="main-head">
  <div class="fec-disclaimer">
    <span class="disclaimer__left">This site is in <a href="https://18f.gsa.gov/dashboard/stages/#beta">beta</a>, visit <a href="http://www.fec.gov">FEC.gov</a></span>
    <span class="disclaimer__right">
      An official website of the United States Government
      <img alt="US flag signifying that this is a United States Federal Government website" src="{% static "fec_eregs/img/us_flag_small.png" %}">
    </span>
  </div>
  <div class="masthead">
    <a href="{{ FEC_CMS_URL }}/" title="Home" class="site-title"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
    <ul class="utility-nav list--flat">
      <li class="utility-nav__item"><a href="{{ FEC_CMS_URL }}/calendar/">Calendar</a></li>
      <li class="utility-nav__item is-disabled"><span class="js-glossary-toggle glossary__toggle">Glossary</span></li>
    </ul>
  </div>
  <nav class="site-nav js-site-nav">
    <div id="site-menu" class="site-nav__container">
      <ul class="site-nav__panel site-nav__panel--main">
        <li><h2 class="site-nav__title u-under-lg-only">Menu</h2></li>
        <li class="site-nav__item u-under-lg-only">
          <a class="site-nav__link" href="{{ FEC_CMS_URL }}" rel="home">
            <span class="site-nav__link__title">Home</span>
          </a>
        </li>
        <li class="site-nav__item" data-submenu="data">
          <a href="{{ FEC_WEB_URL }}" class="site-nav__link">
            <span class="site-nav__link__title">Campaign finance data</span>
          </a>
        </li>
        <li class="site-nav__item site-nav__item--secondary" data-submenu="help">
          <a href="{{ FEC_CMS_URL }}/help-candidates-committees/" class="site-nav__link">
            <span class="site-nav__link__title">Help for candidates and committees</span>
          </a>
        </li>
        <li class="site-nav__item" data-submenu="legal">
          <a href="{{ FEC_CMS_URL }}/legal-resources" class="site-nav__link is-parent">
            <span class="site-nav__link__title">Legal resources</span>
          </a>
        </li>
        <li class="site-nav__item utility-nav__item u-under-lg-only">
          <a href="{{ FEC_CMS_URL }}/calendar" class="site-nav__link">Calendar</a>
        </li>
      </ul>
    </div>
    <button for="nav-toggle" class="js-nav-toggle site-nav__button" aria-controls="site-menu">Menu</button>
    <a title="Home" href="{{ FEC_CMS_URL }}" class="site-title"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
  </nav>
  <div class="page-header page-header--primary">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ FEC_CMS_URL }}/">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__separator">&gt;</span>
        <a class="breadcrumbs__link" href="{{ FEC_CMS_URL }}/legal-resources/">Legal resources</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__separator">&gt;</span>
        <a class="breadcrumbs__link" href="{{ FEC_CMS_URL }}/regulations/">Regulations</a>
      </li>
      {% if reg_part %}
      <li id="content-header" class="breadcrumbs__item breadcrumbs__item--current">
        <span class="breadcrumbs__separator">&gt;</span>
        <span class="wayfinding">
          <span class="subpart"></span>
          <span id="active-title">{% block active_title %}<em class="header-label"><span class="reg_part">§{{ reg_part }}</span></em>{% endblock %}</span>
        </span>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
