{% comment %}
    Partial for definitions to be displayed inline in the sidebar
{% endcomment %}
<div id="{{node.markup_id}}" class="open-definition" tabindex="0">
    <div class="sidebar-header group">
        <h4>
            Defined Term
            <a class="right close-button" href="#">Close definition</a>
        </h4>
    </div>

    {% comment %}
        Used to display scope warnings
    {% endcomment %}
    <div class="definition-warning hidden group">
        <span class="cf-icon cf-icon-error icon-warning"></span>
        <div class="msg">
        </div>
    </div>

    <div class="definition-text">
        {% if node.children %}

                {% if node.marked_up %}
                    <p>The first piece of this definition is:</p>

                    <blockquote>
                        {{node.marked_up|safe}}
                    </blockquote>
                {% else %}
                    <p>This definition is best viewed in its original location.</p>
                {% endif  %}
        {% elif node.marked_up %}
            <p>
                {{node.marked_up|safe}}
            </p>
        {% endif  %}
        {% if node.marked_up %}
            <p>See the full definition at:</p>
        {% endif  %}

        <a  href="{% url 'chrome_section_view' node.section_id version %}#{{node.label_id}}"
            class="continue-link full-def internal"
            data-linked-section="{{node.label_id}}">{{formatted_label}}</a>

        {% if not node.children %}
            {% if node.interp %}
                {% with interp=node.interp.interps.0 %}
                <a  href="{% url 'chrome_subterp_view' interp.section_id version %}#{{ interp.label_id }}"
                    data-linked-subsection="{{ interp.label_id }}"
                    data-linked-section="{{ interp.section_id }}"
                    class="internal interp continue-link">Official Interpretation</a>
                {% endwith %}
            {% endif %}
        {% endif %}

        <a class="close-button tab-activated" href="#">Close definition</a>
    </div>

</div>
