<section id="content-wrapper" class="reg-text">
{% if tree.children %}
    {% for c in tree.children %}
        {%include "regulations/subpart.html" %}
        {%include "regulations/appendix.html" %}
        {%include "regulations/interpretations.html" %}
        {%include "regulations/navigation.html"%}
    {% endfor %}
    <div class="slab slab--neutral footer-disclaimer">
            <p><small>This site is in beta, which means we're testing content. This content is not finalized,
              is not legal advice and is subject to change.</small></p>
            <p><small>Everything on this site should be read in conjunction with FEC.gov.
              Please let us know what you think of our new content; use the feedback tool on the
              <a href="https://beta.fec.gov/legal-resources/">legal resources</a> landing page.
            </small></p>
    </div>

{% endif %}
</section> <!-- /.reg-text -->
