/*
==========================================================================
variables.less contains all theme variable / variable overrides
*/

/*
 FEC variables
 ----------------------
*/

// Typography
@serif: 'gandhi', serif;
@sans-serif: 'karla', sans-serif;
@base-font-family: @serif;

// Primary colors
@crimson: #631010;
@orange: #f77b42;
@federal-blue: #022c53;
@aqua: #36bdbb;

@base: #212121;
@neutral: #f1f1f1;
@inverse: #fff;

// Accent colors
@bright-red: #dc3b00;
@deep-orange: #e36641;
@deep-red: #961a16;

@bright-blue: #0aacfa;
@deep-aqua: #3e8a9a;
@navy: #164f85;

@gray-lightest: #f1f1f1; // U.S. Web Design Standards color gray-lightest //
@gray-light: #e8e8e8;
@gray-medium: #d6d7d9; // U.S. Web Design Standards color gray-mediumer //
@gray: #aeb0b5; // U.S. Web Design Standards color gray-medium //
@gray-dark: #5b616b; // U.S. Web Design Standards color gray //

@disabled: #737373;

// Color aliases
@primary: @federal-blue;
@primary-contrast: @aqua;
@primary-focus: @deep-aqua;

@secondary: @crimson;
@secondary-contrast: @orange;
@secondary-focus: @deep-red;

@neutral: @gray-lightest;
@neutral-contrast: @gray-dark;
@neutral-focus: @primary;


/*
 eRegs
 =============================
*/

/*
 Color overrides
 ----------------
 */

@green_midtone: @neutral;
@green_light: @gray-medium;
@pacific: @primary-contrast;
@pacific_hover: @primary-focus;

@history_drawer_border_color: @grey;

/*
 Type Variables
 ----------------------
*/

@body_font: @base-font-family;

@mainhead_height: 190px;
@subhead_height: 34px;
