// Override font mixins
//TODO this change should be upstream in regulations-site
.font-regular {
    font-family: @sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-bold {
    font-family: @sans-serif;
    font-weight: 600;
    font-style: normal;
}

.font-italic {
    font-family: @sans-serif;
    font-weight: 600;
    font-style: italic;
}
