/*
 * FEC Components
 *
 **/

.t-sans {
  font-family: $sans-serif;
  letter-spacing: -.3px;
}

.t-serif {
  font-family: $serif;
}

// Override `ul`s in `.reg-header` styles
// TODO remove element specific styles in regulations-site, replace
// with class-based rules, e.g. `ul.eregs-list`.
.reg-header .utility-nav {
  @extend .utility-nav;
}

.reg-header .site-nav__panel {
  @extend .site-nav__panel;
}

.site-nav {
  position: relative;
}

.site-nav__container {
  @media(max-width: 720px) {
    bottom: initial;
    top: 40px;
    z-index: initial;
  }
}

.site-nav__panel {
  position: static;
  top: initial;
  bottom: initial;
}

.utility-nav__item {
  margin-top: 0;
  padding: 0 20px;
}

.fec-disclaimer {
  @extend .disclaimer;
  width: calc(100% - 90px);
}

.breadcrumbs {
  // Font-size from body
  font-size: 14px;
}
