@font-face {
  font-family: 'gandhi';
  src: url('../fonts/gandhiserif-bold-webfont-webfont.woff2') format('woff2'),
       url('../fonts/gandhiserif-bold-webfont-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'gandhi';
  src: url('../fonts/gandhiserif-bolditalic-webfont-webfont.woff2') format('woff2'),
       url('../fonts/gandhiserif-bolditalic-webfont-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'gandhi';
  src: url('../fonts/gandhiserif-italic-webfont-webfont.woff2') format('woff2'),
       url('../fonts/gandhiserif-italic-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'gandhi';
  src: url('../fonts/gandhiserif-regular-webfont-webfont.woff2') format('woff2'),
       url('../fonts/gandhiserif-regular-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karla';
  src: url('../fonts/karla-bold-webfont-webfont.woff2') format('woff2'),
       url('../fonts/karla-bold-webfont-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'karla';
  src: url('../fonts/karla-regular-webfont-webfont.woff2') format('woff2'),
       url('../fonts/karla-regular-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
