/**
 * Variables
 */
$mainhead_small_height: 83px; // main-head height on small devices

/**
 * Font mixin overrides
 *
 * These are used within the regulations-site less.
 */
//TODO this change should be upstream in regulations-site
.sans-font-regular {
    font-family: $sans-serif;
    font-weight: normal;
    font-style: normal;
}

.sans-font-bold {
    font-family: $sans-serif;
    font-weight: 600;
    font-style: normal;
}

.sans-font-italic {
    font-family: $sans-serif;
    font-weight: 600;
    font-style: italic;
}

/**
 * Override overrides
 * ====================================
 *
 * These are fixes where the fec-styles overreach the regulations-site styles
 * and need to be taken back a bit.
 *
 * ====================================
 */

/*
 * Typography overrides
 */
.reg-header {
  font-family: $serif;
  top: 0px;
  left: 0px;
}

.version-search {
  h4 {
    font-size: 1em;
  }
}


/*
 * List overrides
 */
.about-ol {
  padding: 0 0 0 20px;
}


/*
 * Link overrides
 *
 * Many links shouldn't have the border-bottom decoration.
 */
.app-nav-list,
.expandable,
.reg-list,
.toc-head {
  a {
    border-bottom: none;
  }
}

a {
  &.close-button,
  &.next-prev-link {
    border-bottom: none;
  }
}

.definition,
.definition:link,
.definition:visited,
.internal,
.internal:link,
.internal:visited {
  border-bottom-style: dotted;
}

/*
 * Chrome overrides
 */

$subhead-primary-border: 2px solid $primary;
$subhead-secondary-border: 1px solid $primary;
$subhead-tertiary-border: 1px solid $gray-medium;
$subhead-background: $primary;
$toc-border: 1px solid $neutral-contrast;
$toc-background: $neutral;


// Header
.title a:link, .title a:visited,
.app-nav a:link, .app-nav a:visited {
  color: $primary;
}

.main-head {
  border-bottom: none;
  height: $mainhead_height;
}

.sub-head {
  background-color: $subhead-background;
  border-bottom: none;
  color: $gray-lightest;
  height: $subhead_height;
  line-height: inherit;
}


// TOC header
// TODO We're really pushing the limits here, our TOC is diverged
// significantly from regulations-site and should probably be written
// with completely fec-eregs specific styles.
.toc-head {
  background-color: $toc-background;
  border-bottom: none;
  border-right: none;
  height: auto;
  left: 188px;
  position: fixed;
  top: $mainhead_height + $subhead_height;
  transition: none;
  width: auto;
  z-index: 1;

  a.current,
  a:hover {
    background-color: $primary;
  }

  .panel-slide {
    width: 38px;
  }

  // Overrides for closed panel
  .close & {
    height: auto;
    left: 0;
  }
}

.drawer-toggles {
  li { border-right: $subhead-tertiary-border; }

  .close & {
    border-top: $subhead-secondary-border;

    li { border-bottom: $subhead-tertiary-border; }
  }
}

.toc-nav-link {
  .close &.current,
  .close &:hover,
  &:hover,
  &.current {
    color: $toc-background;
    background-color: $primary;
  }
}

// Landing page search

html, body, .landing-content, .search-panel {
  height: 100%;
}

.search-panel {
   background-color: $toc-background;
}

.search-header {
  border-bottom: 2px solid $gray;
  margin-bottom: 2rem;
  padding: .5rem;
  font-size: 1.5rem;
  font-family: ghandi, serif;
  text-align: center;
}

.regulations-title {
  border-bottom: 2px solid #112e51;
  padding-bottom: 10px;
}

.reg-list {
  border-top: none;
}

.content-primary {
  width: 100%;
}

// TOC
.panel {
  background-color: $toc-background;
  border-right: $subhead-primary-border;

  &.close {
    top: $mainhead_height + $subhead_height;
  }
}

.panel-slide {
  img { display:none; }
  img#open { display:none; }
  img#close { display:inline-block; }
  img#open-active { display:none; }
  img#close-active { display:none; }

  &:active,
  &:hover {
    img#close { display:none; }
    img#close-active { display:inline-block; }
  }

  .close & {
    border-bottom: $subhead-secondary-border;
    img#close { display:none; }
    img#open { display:inline-block; }

    &:active,
    &:hover {
      img#open { display:none; }
      img#open-active { display:inline-block; }
      img#close-active { display:none; }
    }
  }
}

.toc-nav-link {
  .drawer-toggle-icon.active { display:none; }

  .closed &:hover,
  .closed &.current,
  &:hover,
  &.current {
    background: $primary;
    .drawer-toggle-icon { display:none; }
    .drawer-toggle-icon.active { display:inline-block; }
  }
}

.drawer-header {
  border-right: $subhead-primary-border;
}

.drawer-header .toc-type,
{
  background-color: $toc-background;
  border-bottom: $toc-border;
}

.subpart-heading {
  background-color: $toc-background;
  border-bottom: $toc-border;
  border-top: $toc-border;
}

.regulation-nav a:link, .regulation-nav a:visited {
  border-bottom: $toc-border;
  color: $primary;
}

// FEC is less boxy
.regulation-nav a,
.regulation-nav a:hover,
.regulation-nav .current {
  padding: 10px 5px;
  margin: 0 10px;
}

// Subhead
#content-header {
  padding-left: initial;

  .header-label {
    font-weight: inherit;
    font-style: inherit;
  }
}


// Sidebar, Secondary content
//
// This component should match they styles of the toc.
.secondary-content {
  border-left: $toc-border;

  .expandable {
    background-color: $toc-background;
    border-bottom: $toc-border;
  }

  .expand-drawer {
    border-bottom: $toc-border;
  }
}

// Masthead
//
//
.hero {
  width: 100%;
}

.landing-content,
.about-content {
  margin-top: $mainhead_height;

  .inner-wrap:before {
    display: table;
    height: auto;
    margin-top: 0;
  }
}

@media only screen and ( max-width: 719px ) {
  .main-head,
  .reg-header {
    height: $mainhead_small_height;
  }

  .landing-content,
  .main-content,
  .about-content {
    margin-top: $mainhead_small_height;
  }

  .panel,
  .panel.close,
  .toc-head {
    top: $mainhead_small_height;
  }

  // Offsets for making the url fragments line-up the section content correctly
  // See layouts.scss in regulations-site
  .reg-section:before,
  .appendix-section:before,
  .supplement-section:before,
  .supplement-section section:before,
  .footnotes li:before {
      height: $mainhead_small_height;
      margin: -1 * $mainhead_small_height 0 0;
  }

  .reg-section .level-1 li,
  .appendix-section .level-1 li,
  .supplement-section .level-1 li {
      border-top: $mainhead_small_height solid transparent;
      margin-top: -1 * $mainhead_small_height;
  }
}

// Footer
.footer-nav {
  overflow: hidden;
  margin-bottom: 50px;
}

div.footer-disclaimer {
  padding: 14px 30px 14px 30px;
}
